<!DOCTYPE html>
<html>
<head>
    <script
    id="sap-ui-bootstrap"
    src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"
    data-sap-ui-theme="sap_belize"
    data-sap-ui-libs="sap.m"
    data-sap-ui-compatVersion="edge"
    data-sap-ui-async="true"
    data-sap-ui-onInit="module:sap/ui/demo/walkthrough/index"
    data-sap-ui-resourceroots='{
        "sap.ui.demo.walkthrough": "./"
    }'>

</script>
<script src="/index.js"></script>
<script src="/script/numpad.js"></script>
<script src="/script/functions.js"></script>
<link rel="stylesheet" href="/css/numpad-dark.css" />
<link rel="stylesheet" href="/css/style.css" />
	<meta charset="utf-8">
	<title>Prägefolienrückmeldung</title>
</head>
<body class="sapUiBody" id="content">
<!-- Content-Teil -->
<img src="/logos/logo.png" style="width: 25%; float:left;"/>
<h2 style="padding-left:70%">Lagerentnahme Prägefolie</h2>
<br />
<hr />
<br />
<br />
<br />

  
</div>
<div class="formu">
<form action="/nummer" method="POST">
<label>Rückmeldenummer</label><br />
<input type="text" placeholder="Rückmeldenummer" name="rückmeldenummer" required/><br><br><br>
<button type="submit" >Weiter</button>
</form>

</div>
</body>
</html>